.particles {

background-image: linear-gradient( 179.1deg, rgba(247,238,238,1)-1.9%,
  rgba(247,202,201,1) 44.9%,
   rgba(145,168,208,1) 96.1% 
   );



  /* try */
  	/* background: #feada6;
	background: linear-gradient(
		to bottom,
		#feada6 0%,
		 #f5efef 100% 
	); */
  position: fixed;
  size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}