.particles {
  background-image: linear-gradient( 179.1deg, rgba(247, 238, 238, 1)-1.9%, rgba(247, 202, 201, 1) 44.9%, rgb(103, 90, 128) 96.1%);
  position: fixed;
  size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}