* {
	margin: 0;
}

.Navbar_container {
	display: flex;
	justify-content:flex-end; 
	margin-top: 0 !important;
	margin-left: 20vw;
	height: 8vh !important;
	background-color: #282c3df8;
	width: 80%;
	position: fixed !important;
	z-index: 10 !important;
	box-shadow: 0px 10px 8px -8px rgba(0, 0, 0, 0.62);
}

.Logo {
	margin-left: 0vw;
	margin-top: 2vw;
	height: 12vh;
	width: 10vw;
	background: white;
	background-size: contain;
	border: 2px solid rgb(255, 255, 255);
}

.Sidebar_container {
	background-color: #212435;
	width: 20vw;
	height: 100vh;
	position: fixed;
	margin-top: 0vh;
	overflow: scroll !important;
	scrollbar-width: thin;
	z-index: 15;
}

 /* .Sidebar_buttons {
	 display: flex;
	justify-content: flex-end;
	padding: 10px;
	margin: 10px;
	margin-bottom: 1px;
} */

.icon_text {
	 /* display:flex;
    justify-content: space-between;  */
	margin-top: 10px;
	font-size: 1.2rem;
	margin-left: 50px;
	margin-right: 30px !important;
	border-radius: 5px;
}

.icon_texts {
	/* display:flex;
    justify-content: space-between;  */
	margin-top: 10px;
	font-size: 1.2rem;
	margin-left: 50px;
	margin-right: 20px !important;
	border-radius: 5px;
}