.Sidebar_link {
    display: flex;
    color: rgb(0, 0, 0)!important;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    height: 60px;
    font-size: 1.5rem;
}

.Sidebar_link:hover {
    background: #ebe5e5;
    border-left: 4px solid #632ce4;
    cursor: pointer;
}

.Sidebar_label {
    margin-left: 16px;
}