.Dashboard_linecharts {
	display: flex;
	justify-content: space-evenly;
	/* flex-direction:column; */
}

.Dashboard_container {
	background: rgb(131, 58, 180);
	background: linear-gradient(
		to top,
		rgba(131, 58, 180, 1) 0%,
		rgba(252, 176, 69, 1) 100%
	);
}
