.Meds_search_cont{
    height: 15vh;
	width: 30vw;
	background-color: rgba(255, 255, 255, 0.801) !important;
	border: 2px solid rgb(255, 255, 255);
	margin-top: 13vh;
	margin-left: 45vw;
	margin-right: 10vw;
	position: absolute;
	border-radius:10px;
	box-shadow:  0px 3px 15px 0px #0000007a  !important;
}