.meds_wrapper{
    width:72vw !important;
    margin-left:22vw !important;
    margin-right:4vw !important;
    height: 88vh !important;
   transform: translate(1%,10%) !important;
   margin-bottom: 1vh !important;
   color: #fff !important;
    
   
  
}
