.NPrescription_container {
	/* transform: translate(90%, 30%); */
	height: 90vh;
	width: 55vw;
	background-color: rgba(255, 245, 245, 0.87) !important;
	border: 2px solid rgb(255, 255, 255);
	margin-top: 20vh;
	margin-left: 35vw;
	margin-right: 10vw;
	position: absolute;
}