.Prescription_card{
    width:25vw;
	/* background-color: rgb(255, 255, 255) !important; */
	
    
	
	margin-left:25vw;
    transform: translate(8%, 30%);
	position: relative;
	box-shadow:  0px 3px 15px 0px #0000007a  !important;
	border-radius:10px;
	
}


.card-header{
	background: #feada6;
	background: linear-gradient(
		to bottom,
		#feada6 0%,
		 #f5efef 100% );
	height:10vh;
}

.card-header-title{
color: rgb(0, 0, 0) !important;
}

.download_icon_card{
	margin-left: 0.5vw;
	font-size:1.5rem;
	/* font-style: upper; */
}