.meds_wrapper {
	width: 68vw !important;
	margin-left: 25vw !important;
	margin-right: 4vw !important;
	height: 120vh !important;
	transform: translate(1%, 10%) !important;
	margin-bottom: 1vh !important;
	/* color: #fff !important; */
}

.meds_container {
	height: 140vh !important;
	background-color: #eec0c6;
	background-image: linear-gradient(260deg, #583b86 0%, #b36b69 74%);

	/* background: rgb(144, 70, 194) !important;
	background: linear-gradient(
		to bottom,
		rgb(150, 80, 196) 0%,
		rgb(252, 190, 103) 150%
	) !important;  */
}
