.meds_wrapper {
	width: 68vw !important;
	margin-left: 25vw !important;
	margin-right: 4vw !important;
	height: 110vh !important;
	transform: translate(1%, 10%) !important;
	margin-bottom: 1vh !important;
	/* color: #fff !important; */
}

.meds_container {
	height: 120vh !important;
	background: rgb(144, 70, 194) !important;
	background: linear-gradient(
		to bottom,
		rgb(150, 80, 196) 0%,
		rgb(252, 190, 103) 150%
	) !important; 
} 
