.PRES {
	height: 25vh !important;
	width: 18vw !important;
	margin-left: 24vw !important;
	margin-top: 25vh !important;
	box-shadow: 0px 3px 15px 0px #0000007a !important;
}

.DOC {
	height: 25vh !important;
	width: 18vw !important;
	margin-left: 0vw !important;
	margin-top: 25vh !important;
	box-shadow: 0px 3px 15px 0px #0000007a !important;
}

.ANOTHER {
	height: 25vh !important;
	width: 18vw !important;
	margin-left: 0vw !important;
	margin-top: 25vh !important;
	margin-right: 5vw !important;
	box-shadow: 0px 3px 15px 0px #0000007a !important;
}

.cards {
	display: flex !important;
	justify-content: space-evenly !important;
}

.card-content-dashboard {
	margin-top: 30px !important;
	display: flex !important;
	justify-content: space-evenly !important;
}

.dash_display_no {
	margin-top: 0 !important;
	font-size: 1.5rem !important;
	font-weight: bold !important;
}

.card_dash_head{
	margin-top: 0 !important;
	font-size:1.2rem !important;
	font-weight: bold !important;
}

.icon_texts{
	margin-top: 0 !important;
}