.Sidebar_link{
    display:flex;
    color:white;
    justify-content:space-between;
    align-items:center;
    padding: 20px;
    text-decoration:none;
    height:60px;
    font-size:1.5rem;
}

.Sidebar_link:hover{
    background: #252831;
    border-left: 4px solid #632ce4;
    cursor: pointer;
}

.Sidebar_label{
    margin-left: 16px;
}