.bar-graph {
    height: 45vh !important;
    width: 40vw;
    background-color: rgb(255, 255, 255) !important;
}

.bar-graph-container {
    margin-left: 40vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}